{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"printWidth": 70,
	"arrowParens": "avoid",
	"proseWrap": "always",
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
