@tailwind base;

html {
	scroll-behavior: smooth;
}

::selection {
	color: oklch(var(--pc));
	background: oklch(var(--p));
}

.table-of-contents {
	z-index: 1;
	position: fixed;
	left: calc(50% + 400px);
	top: 18rem;
	max-height: 50vh;
	width: 310px;
	padding: 0.75rem;
	margin: 0.75rem 0;
	font-size: 1rem;
	line-height: 1.75rem;
}

/* Scrollbar styles */

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: oklch(var(--s)) oklch(var(--p));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 15px;
}

*::-webkit-scrollbar-track {
	background: oklch(var(--p));
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: oklch(var(--s));
	border-radius: 14px;
	border: 3px solid oklch(var(--p));
}

@tailwind components;
@tailwind utilities;
