@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	scroll-behavior: smooth;
}

::selection {
	color: oklch(var(--pc));
	background: oklch(var(--p));
}

.table-of-contents {
	z-index: 1;
	position: fixed;
	left: calc(50% + 400px);
	top: 18rem;
	max-height: 50vh;
	width: 310px;
	padding: 0.75rem;
	margin: 0.75rem 0;
	font-size: 1rem;
	line-height: 1.75rem;
}

/*
Scrollbar styles:
  scrollbar-color Two valid colors. thumb and track
  scrollbar-gutter padding when there's no scrollbar
  scrollbar-width auto | thin | none
*/
* {
	scrollbar-width: thin;
	scrollbar-color: oklch(var(--s)) oklch(var(--p)) !important;
}

::-webkit-scrollbar-track {
	background: oklch(var(--p));
}

::-webkit-scrollbar-thumb {
	background-color: oklch(var(--s));
}

.all-prose {
	@apply prose prose-lg lg:prose-xl prose-headings:scroll-mt-16 prose-a:text-primary prose-a:transition hover:prose-a:text-accent;
}
