@tailwind base;
/* Write your global styles here, in PostCSS syntax */
html {
  scroll-behavior: smooth;
}

:root {
  --my-color: #ffffff;
  background-color: var(--my-color);
}
[data-theme='light'] {
  --my-color: #ffffff;
}
[data-theme='dark'] {
  --my-color: #3d4451;
}
[data-theme='cupcake'] {
  --my-color: #faf7f5;
}
[data-theme='bumblebee'] {
  --my-color: #ffffff;
}
[data-theme='emerald'] {
  --my-color: #ffffff;
}
[data-theme='corporate'] {
  --my-color: #ffffff;
}
[data-theme='synthwave'] {
  --my-color: #2d1b69;
}
[data-theme='retro'] {
  --my-color: #e4d8b4;
}
[data-theme='cyberpunk'] {
  --my-color: #ffee00;
}
[data-theme='valentine'] {
  --my-color: #f0d6e8;
}
[data-theme='halloween'] {
  --my-color: #212121;
}
[data-theme='garden'] {
  --my-color: #e9e7e7;
}
[data-theme='forest'] {
  --my-color: #171212;
}
[data-theme='aqua'] {
  --my-color: #0b25b7;
}
[data-theme='lofi'] {
  --my-color: #ffffff;
}
[data-theme='pastel'] {
  --my-color: #ffffff;
}
[data-theme='fantasy'] {
  --my-color: #ffffff;
}
[data-theme='wireframe'] {
  --my-color: #ffffff;
}
[data-theme='black'] {
  --my-color: #000000;
}
[data-theme='luxury'] {
  --my-color: #09090b;
}
[data-theme='dracula'] {
  --my-color: #302f3d;
}
@tailwind components;
@tailwind utilities;
