@tailwind base;
/* Write your global styles here, in PostCSS syntax */
html {
  scroll-behavior: smooth;
  margin-left: calc(100vw - 100%);
}

:root {
  /* Default is Dark */
  --bg-color: #3d4451;
  --primary: #793ef9;
  --secondary: #f000b8;
  background-color: var(--bg-color);
}
[data-theme='light'] {
  --bg-color: #ffffff;
  --primary: #570df8;
  --secondary: #f000b8;
}
[data-theme='dark'] {
  --bg-color: #3d4451;
  --primary: #793ef9;
  --secondary: #f000b8;
}
[data-theme='cupcake'] {
  --bg-color: #faf7f5;
  --primary: #65c3c8;
  --secondary: #ef9fbc;
}
[data-theme='bumblebee'] {
  --bg-color: #ffffff;
  --primary: #f9d72f;
  --secondary: #e0a82e;
}
[data-theme='emerald'] {
  --bg-color: #ffffff;
  --primary: #66cc8a;
  --secondary: #377cfb;
}
[data-theme='corporate'] {
  --bg-color: #ffffff;
  --primary: #4b6bfb;
  --secondary: #7b92b2;
}
[data-theme='synthwave'] {
  --bg-color: #2d1b69;
  --primary: #e779c1;
  --secondary: #58c7f3;
}
[data-theme='retro'] {
  --bg-color: #e4d8b4;
  --primary: #ef9995;
  --secondary: #a4cbb4;
}
[data-theme='cyberpunk'] {
  --bg-color: #ffee00;
  --primary: #ff7598;
  --secondary: #75d1f0;
}
[data-theme='valentine'] {
  --bg-color: #f0d6e8;
  --primary: #e96d7b;
  --secondary: #a991f7;
}
[data-theme='halloween'] {
  --bg-color: #212121;
  --primary: #f28c18;
  --secondary: #6d3a9c;
}
[data-theme='garden'] {
  --bg-color: #e9e7e7;
  --primary: #5c7f67;
  --secondary: #ecf4e7;
}
[data-theme='forest'] {
  --bg-color: #171212;
  --primary: #1eb854;
  --secondary: #1fd65f;
}
[data-theme='aqua'] {
  --bg-color: #0b25b7;
  --primary: #42e3ff;
  --secondary: #966fb3;
}
[data-theme='lofi'] {
  --bg-color: #ffffff;
  --primary: #808080;
  --secondary: #4d4d4d;
}
[data-theme='pastel'] {
  --bg-color: #ffffff;
  --primary: #d1c1d7;
  --secondary: #f6cbd1;
}
[data-theme='fantasy'] {
  --bg-color: #ffffff;
  --primary: #6e0b75;
  --secondary: #007ebd;
}
[data-theme='wireframe'] {
  --bg-color: #ffffff;
  --primary: #b8b8b8;
  --secondary: #b8b8b8;
}
[data-theme='black'] {
  --bg-color: #000000;
  --primary: #ffffff;
  --secondary: #000000;
}
[data-theme='luxury'] {
  --bg-color: #09090b;
  --primary: #ffffff;
  --secondary: #152747;
}
[data-theme='dracula'] {
  --bg-color: #302f3d;
  --primary: #ffb3d9;
  --secondary: #b9ffb3;
}

.table-of-contents {
  z-index: 1;
  position: fixed;
  left: calc(50% + 400px);
  top: 18rem;
  max-height: 50vh;
  width: 310px;
  padding: 0.75rem;
  margin: 0.75rem 0;
  font-size: 1rem;
  line-height: 1.75rem;
}

/* Scrollbar styles */

/* Firefox */
/* stylelint-disable */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}
/* stylelint-enable */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

/* glow */

.text-glow {
  color: #000;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #333, 0 0 82px #333, 0 0 92px #333, 0 0 102px #333,
    0 0 151px #333;
}

@tailwind components;
@tailwind utilities;
